# Análise de resultados

In [21]:
from explore.resultado import ResultadoExplorer
from util import constants

resultado_explorer = ResultadoExplorer()

In [14]:
todos_resultados = resultado_explorer.find_all()

In [15]:
todos_resultados.head(5)

,id_documento_origem,titulo_documento_origem,id_documento_destino,titulo_documento_destino,distancia_destino,id_cenario,fonte_origem,fonte_destino
0,11,Santiago - Museu de Arte Pré-Colombiana Fechad...,5309070,Alexander (Texas),0.278568,lda_NERDS_VIAJANTES_WIKIPEDIA_numtopics-100,NERDS_VIAJANTES,WIKIPEDIA
1,60,Santiago - Restaurante Aquí Está Coco,2336490,Barber Motorsports Park,0.388272,lda_NERDS_VIAJANTES_WIKIPEDIA_numtopics-100,NERDS_VIAJANTES,WIKIPEDIA
2,111,Santiago - Palacio de la Moneda,5412010,Casablanca (vulcão),0.341040,lda_NERDS_VIAJANTES_WIKIPEDIA_numtopics-100,NERDS_VIAJANTES,WIKIPEDIA
3,134,Revelando a Foto - Frutillar,532625,Aldea Brasilera,0.413302,lda_NERDS_VIAJANTES_WIKIPEDIA_numtopics-100,NERDS_VIAJANTES,WIKIPEDIA
4,167,Revelando a Foto - Monument Valley,1448829,El Capitan (Arizona),0.347342,lda_NERDS_VIAJANTES_WIKIPEDIA_numtopics-100,NERDS_VIAJANTES,WIKIPEDIA

## Análise estatística das distâncias entre os documentos mais próximos de acordo com o cenário

In [20]:
todos_resultados[['id_cenario', 'distancia_destino']].groupby('id_cenario').describe().reset_index()

                                    id_cenario distancia_destino           \
                                                           count     mean
0  lda_NERDS_VIAJANTES_WIKIPEDIA_numtopics-100             378.0  0.44836


        std      min      25%       50%       75%       max
0  0.132413  0.06444  0.34358  0.463742  0.560945  0.768947

## Semelhanças para um determinado documento de origem

In [ ]:
fonte_origem = 'NERDS'